/* Common Styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: white;
    border: none;
}

main {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    
}
/* Board Styles */
.game-board {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-row {
    height: 10vh;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-letter {
    font-size: 1.5rem;
    font-weight: bold;
}