/* Common Styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boggle {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, blue, pink);
}

.board {
    width: 25rem;
    height: 25rem;
    background-color: aquamarine;
    padding-left: 2.25rem;
}

.board td {
    font-size: 2rem;
}
